body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
}

.image{
    width: 45%; 
}

.landingpage .image{
    margin-left: 150px;
}

#profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 150px;
    border: 3px solid white;
}

.texts{
    width: 55%;
}

.landingpage{
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
}

.texts h1{
    margin-top: 15vh;
    margin-left: 20px;
    font-size: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texts h3{
    font-size: 25px;
    margin-left: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#button{
    width: 12vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 15px 5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
    font-weight: bold;
}

.guest-box{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 6vh;
    justify-content: center;
    text-align: center;
}

textarea{
    width: 400px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
}

@media (max-width: 600px) {
    .landingpage{
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .image{
        align-self: center;
    }
    .guest-box{
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        margin-top: 10vh;
        justify-content: center;
        text-align: center;
    }

  }